{
  "op": {
    "_creationTime": 1790429413244.8962,
    "_id": "q1708fc3jf3h15qq2n4vmsdx218f4kek",
    "createdAt": 1790429413244,
    "discoveryVersion": 2,
    "done": 52,
    "failed": 0,
    "generation": 9,
    "mode": "menu",
    "origin": "https://www.kuscheltierland.de",
    "ownerId": "kh79a14wfhn2hy42rk291dvfdh87e67y",
    "performanceMode": "optimized",
    "phase": "products",
    "rawBundleVersion": 1,
    "rehearsal": true,
    "revision": 0,
    "root": "catalog-performance/q1708fc3jf3h15qq2n4vmsdx218f4kek",
    "status": "review",
    "storageMode": "convex",
    "total": 52,
    "type": "export",
    "updatedAt": 1790429558226
  },
  "phases": {
    "collection": {
      "convexrunMutation": 9,
      "invocations": 2,
      "r2GetObjectActive": 0,
      "r2GetObjectCalls": 8,
      "r2GetObjectMs": 2318.551398999999,
      "r2GetObjectPeak": 2,
      "r2HeadAvoided": 3,
      "r2HeadObjectActive": 0,
      "r2HeadObjectCalls": 9,
      "r2HeadObjectMs": 2628.945037999999,
      "r2HeadObjectPeak": 1,
      "r2PutObjectActive": 0,
      "r2PutObjectCalls": 12,
      "r2PutObjectMs": 5493.624049000001,
      "r2PutObjectPeak": 2,
      "r2ReadBytes": 585,
      "r2WriteBytes": 11814,
      "sourceActive": 0,
      "sourceBudgetWaitMs": 364,
      "sourceBytes": 1483086,
      "sourceCalls": 3,
      "sourceMs": 937.8578129999992,
      "sourcePeak": 1,
      "sourceStatus200": 3,
      "wallMs": 15094.419998000001
    },
    "discover": {
      "convexrunMutation": 2,
      "convexrunQuery": 1,
      "invocations": 1,
      "r2GetObjectActive": 0,
      "r2GetObjectCalls": 1,
      "r2GetObjectMs": 439.5612799999999,
      "r2GetObjectPeak": 1,
      "r2HeadObjectActive": 0,
      "r2HeadObjectCalls": 2,
      "r2HeadObjectMs": 357.16791699999976,
      "r2HeadObjectPeak": 1,
      "r2PutObjectActive": 0,
      "r2PutObjectCalls": 2,
      "r2PutObjectMs": 899.8023450000001,
      "r2PutObjectPeak": 1,
      "r2WriteBytes": 435,
      "wallMs": 2241.638143
    },
    "index": {
      "convexrunMutation": 2,
      "convexrunQuery": 1,
      "invocations": 1,
      "r2GetObjectActive": 0,
      "r2GetObjectCalls": 1,
      "r2GetObjectMs": 287.524684,
      "r2GetObjectPeak": 1,
      "r2HeadObjectActive": 0,
      "r2HeadObjectCalls": 4,
      "r2HeadObjectMs": 580.0901070000018,
      "r2HeadObjectPeak": 1,
      "r2PutObjectActive": 0,
      "r2PutObjectCalls": 4,
      "r2PutObjectMs": 2235.5568330000024,
      "r2PutObjectPeak": 1,
      "r2WriteBytes": 10215,
      "wallMs": 3392.622303
    },
    "products": {
      "convexrunMutation": 62,
      "convexrunQuery": 52,
      "invocations": 5,
      "r2GetObjectActive": 0,
      "r2GetObjectCalls": 114,
      "r2GetObjectMs": 37263.629743,
      "r2GetObjectPeak": 4,
      "r2HeadAvoided": 104,
      "r2HeadObjectActive": 0,
      "r2HeadObjectCalls": 7,
      "r2HeadObjectMs": 944.2665360000246,
      "r2HeadObjectPeak": 1,
      "r2PutObjectActive": 0,
      "r2PutObjectCalls": 111,
      "r2PutObjectMs": 119650.45860399993,
      "r2PutObjectPeak": 4,
      "r2ReadBytes": 18752,
      "r2WriteBytes": 20827096,
      "sourceActive": 0,
      "sourceBudgetWaitMs": 63483,
      "sourceBytes": 19474909,
      "sourceCalls": 104,
      "sourceMs": 39845.18123500003,
      "sourcePeak": 3,
      "sourceStatus200": 104,
      "wallMs": 114196.125365
    }
  },
  "tasks": [
    {
      "createdAt": 1790429418099,
      "key": "collections-0",
      "kind": "collection",
      "status": "done",
      "updatedAt": 1790429428722
    },
    {
      "createdAt": 1790429428722,
      "key": "collections-2dcb34037d8f89e4e2cb81d8",
      "kind": "collection",
      "status": "done",
      "updatedAt": 1790429437301
    },
    {
      "createdAt": 1790429413244,
      "key": "discover-0",
      "kind": "discover",
      "status": "done",
      "updatedAt": 1790429418099
    },
    {
      "createdAt": 1790429437301,
      "key": "index-0",
      "kind": "index",
      "status": "done",
      "updatedAt": 1790429442146
    },
    {
      "createdAt": 1790429442146,
      "key": "products-v2-cced28c6dc3f99c2396a5eaa-0",
      "kind": "products",
      "status": "done",
      "updatedAt": 1790429497757
    },
    {
      "createdAt": 1790429442146,
      "key": "products-v2-cced28c6dc3f99c2396a5eaa-25",
      "kind": "products",
      "status": "done",
      "updatedAt": 1790429551242
    },
    {
      "createdAt": 1790429442146,
      "key": "products-v2-cced28c6dc3f99c2396a5eaa-50",
      "kind": "products",
      "status": "done",
      "updatedAt": 1790429558112
    }
  ],
  "truncated": false,
  "elapsedMs": 144982,
  "coverage": [
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "blauer-otter-kuscheltier-weich",
      "hash": "b98278380a3d8016db5b63a6c4fad64dbddb033751b8ea7e20c61985359d4c5c",
      "images": 1,
      "sourceId": "10646957916497",
      "variants": 3
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "blaues-seeotter-kuscheltier-mit-weissem-bauch",
      "hash": "5a9883e797c2fcb9f1d7bc634461955ffb2f36848ca92ffa50892fee28b46231",
      "images": 2,
      "sourceId": "10933499658577",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-hamburger-kuscheltier-lustig",
      "hash": "a15d4b0409365c392214f03dcf0538319da2a939902c94d57812317a0fdb398f",
      "images": 2,
      "sourceId": "10649597313361",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-im-hai-kostum-kuscheltier",
      "hash": "fd9f87c78321d9e3a617dffda48f3f65db6fde38a417ccadc847db5293512b44",
      "images": 4,
      "sourceId": "10653887922513",
      "variants": 3
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-bienenkostum-mit-honigglas",
      "hash": "cd49c1b41d2c539bc8455249cc6c106edcbc910d9ec7719e0b51b5cc6a7ecf84",
      "images": 3,
      "sourceId": "10933507162449",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-bienenkostum-mit-honigtopf",
      "hash": "e3bc801c877ddbd6ece3c374734f2811b602aeccdee4a798731181a85541cc73",
      "images": 3,
      "sourceId": "10933509095761",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-croissant",
      "hash": "d062b443bef5a831e6372563c711b98ad698a07eea3428ec9d34e8e62d5113c9",
      "images": 3,
      "sourceId": "10899650740561",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-dinosaurierkostum",
      "hash": "11cdc8de2dfbc606b0055c75e0b68662da020f65a9cf6cffba3d0d1f88191570",
      "images": 2,
      "sourceId": "10933508505937",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-grunen-hemd",
      "hash": "9dfef92901768725c0b4ef19c22ca6dbc47043efc5c6309afa15212d803058b8",
      "images": 3,
      "sourceId": "10649602851153",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-hai-kostum",
      "hash": "3ce2b060ba71235bed3ced12033d80ab1be0d899302cbcd265161033e851c928",
      "images": 4,
      "sourceId": "10645334163793",
      "variants": 3
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-im-haikostum-mit-fisch",
      "hash": "da96973e322ac7c856557091d2fee122f8a2910e9789d918b5be1e53e7918ac7",
      "images": 3,
      "sourceId": "10933508899153",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-in-pfirsich-fruchthulle",
      "hash": "b775eb46caf80ce603e097d9e1b127303fc5d65be76438806314b1f99bfe75ff",
      "images": 5,
      "sourceId": "10645335802193",
      "variants": 2
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-bienen-rucksack",
      "hash": "c1a7fa413565a6f75922dad0258adf62c2f0f6a26e1d36999747a970eca4d5b7",
      "images": 3,
      "sourceId": "10899638255953",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-eis-am-stiel",
      "hash": "0e0113f5dec5ce0a08dc685096febfca6283492ebdec4c00f883747188162002",
      "images": 3,
      "sourceId": "10649601835345",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-erdbeer-hut-weich",
      "hash": "1bca235ddc5ed5413274580be173200afbc2dae338a629aafd8ff57c248a92de",
      "images": 3,
      "sourceId": "10649596363089",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-erdbeer-rucksack",
      "hash": "1eb36d6938c290003b9bb7ac629757a35015cb4f0bb6d6eb8d97227e64c9d790",
      "images": 2,
      "sourceId": "10649599377745",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-frosch-schwimmring",
      "hash": "97f95d5bd9c0eb83c41611e0c701cf98fc48283f32f72d1b9d193aad466da2f9",
      "images": 3,
      "sourceId": "10649604358481",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-grauer-katzenmutze",
      "hash": "2e26ad9fdb69efd01eb5a7967767f815fd1bb7e90718d4ff9946d9dc87cf21c1",
      "images": 2,
      "sourceId": "10899637993809",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-katzen-kapuze",
      "hash": "5ee0782162ae005cae79896301d935d13d675e475a0e9f484d63a4682e6cd271",
      "images": 4,
      "sourceId": "10649617170769",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-kirsche-auf-dem-kopf-und-brot",
      "hash": "48e55b31a49f61400465e622ddf78fa80a8f1433da3c30450c4d1a8dc02ff5d6",
      "images": 2,
      "sourceId": "10899651625297",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-kleiner-biene",
      "hash": "dccd8b0e155d106281dfdf82f6489d77b3c33edcee6029669e37e6c7f6793ebc",
      "images": 2,
      "sourceId": "10899637961041",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-kuromi-mutze",
      "hash": "f02dacfe4ec38a9cde724214cf9497d8a16eb9bcc479eafb0ae5fcda48ca07c3",
      "images": 2,
      "sourceId": "10899637797201",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-nuss",
      "hash": "dfb4d815664803c0ddfce31891ac14f1f46d8dd77f67479339d40be722595468",
      "images": 3,
      "sourceId": "10649610944849",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-orangenscheibe",
      "hash": "61607de8be4cd842dade59a9b5a01ff9207db94b43acefd2804bcee804b836eb",
      "images": 2,
      "sourceId": "10899638321489",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-partyhut-schurze",
      "hash": "d9840fd2d706e01211c807c422312ebaff4518ab92b975b6fac3841f7f8d1e10",
      "images": 3,
      "sourceId": "10649614188881",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-rosa-hasenmutze",
      "hash": "a9a25a4e8d354c6f1cac2a8212fff02289988e2243c8a9be5e32f3bbc2d60cde",
      "images": 2,
      "sourceId": "10899638190417",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-roter-krabbenmutze",
      "hash": "0ed07b4645f38082a8c44ecac4d11fb7f3bf2c1abea9c4d6902beeac5d7382ca",
      "images": 2,
      "sourceId": "10899638124881",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-traditionellem-nezha-kostum",
      "hash": "454ec7584bdecc2c90e4dbcf9c84b2e8d3b59f137f8f75020964216b833dcfb0",
      "images": 4,
      "sourceId": "10645334819153",
      "variants": 3
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-kuscheltier-mit-wassermelonenmutze",
      "hash": "d898416db073675e8ba493a6904103f7b47f9c8a652e8884d2404ccc5c131d63",
      "images": 4,
      "sourceId": "10933504770385",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-plusch-mit-schildkroten-rucksack",
      "hash": "fa53cc0b5ac7fde8fb5d184149850f84176b73c63f8fc24035232d4abc34ffce",
      "images": 4,
      "sourceId": "10639337718097",
      "variants": 2
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-plusch-schlusselanhanger-mit-kostum",
      "hash": "8bb3ddd431219d4e1d0bd311f1945491efecef9733c6ce997ca7ddf14bd3c5c3",
      "images": 1,
      "sourceId": "10645266792785",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-pluschtier-kissen-mit-snack-fach",
      "hash": "813c2c7d2358be7957033a23800d81b877a4fad2da7eaa8e3257717c8d2eeb59",
      "images": 4,
      "sourceId": "10639448539473",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "capybara-pluschtier-mit-drachenkostum",
      "hash": "a194f34c410316abc506eebf063a8103c33250f17cef1359eae2b64b42cae348",
      "images": 2,
      "sourceId": "10899637305681",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "hellbraunes-otter-kuscheltier",
      "hash": "b74ac3de86bbf86c75e83d9a63691fe7ef0dd0a14fbaebf148ef5e5d083cb024",
      "images": 3,
      "sourceId": "10933498446161",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "kawaii-capybara-kuscheltier-im-cupcake",
      "hash": "accf53ba6d9e424617a96b3b9de056c911cd140926614dcb1ab393608b374a33",
      "images": 3,
      "sourceId": "10899651297617",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "kawaii-capybara-kuscheltier-im-grunen-kuchen",
      "hash": "4d083cbaf63b0397a07a5c5eb44304e09258c188e8c81d759dd7b4d9e995674c",
      "images": 2,
      "sourceId": "10899651002705",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "kawaii-capybara-kuscheltier-im-kuchen",
      "hash": "80e2c309efa59063e89898089abacfc92af0208638c1497d7bba1f3b6e5c63da",
      "images": 3,
      "sourceId": "10899651723601",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "kawaii-capybara-kuscheltier-mit-brot",
      "hash": "a407c101a0e94ef8399a79c935bf5f418f55e200dce25d097040d6dd620531b7",
      "images": 2,
      "sourceId": "10899651821905",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "kleiner-otter-kuscheltier-mit-fisch-in-den-pfoten",
      "hash": "d1d6de48240e3e765c267e2b63809cca2307f4465321e377f5ef77b3febde084",
      "images": 3,
      "sourceId": "10646949167441",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "langes-capybara-pluschtier-schlafkissen",
      "hash": "ec72138fff60c1fda6be1c1b7839b0662ffd4bf0f753ca7a1ecdfc1c7928735f",
      "images": 4,
      "sourceId": "10639408595281",
      "variants": 3
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "leuchtendes-capybara-kuscheltier-nachtlicht",
      "hash": "cdbd2f862ea953e913cb009f5ce046937a1d34a842ab1fc14180d25d26e42ca8",
      "images": 5,
      "sourceId": "10645337080145",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "niedliches-braunes-otter-kuscheltier-mit-weissem-bauch",
      "hash": "0826e3238495c82c5573693ab4e1af17a315d02f5590c7473bee1611d1edeb05",
      "images": 3,
      "sourceId": "10933478588753",
      "variants": 2
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "otter-kuscheltier-in-hellbraun-und-weiss",
      "hash": "e523d2866f3afda2c3c49ea4132ec97ac32327cf10ac86def25839152f8576f4",
      "images": 1,
      "sourceId": "10933474623825",
      "variants": 2
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "otter-kuscheltier-kawaii-stofftier",
      "hash": "93a8bb82094e2014f78379cd8e0cf8f02cd48bde13a6e313d8187d8b4623f1be",
      "images": 3,
      "sourceId": "10649560023377",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "realistische-otter-kuscheltier-spielzeug-geschenk",
      "hash": "7b3462e43177b2dd7f23ca7d47ae500323006487e7605b4f9aa180e40facf893",
      "images": 3,
      "sourceId": "10645157937489",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "rosa-capybara-kuscheltier-mit-kappe-rucksack",
      "hash": "52e8ffd95a0a01b4b4c67a13ec3458e31e03fd91aaa50df88ba1284b8f856d46",
      "images": 3,
      "sourceId": "10649595380049",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "rosa-otter-kuscheltier-weich",
      "hash": "0694e39b48f19f329c6ecfa0d9f9c9215ab635e4e2ff7ef52ffdfde01ae22a16",
      "images": 1,
      "sourceId": "10646953099601",
      "variants": 3
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "schlafendes-capybara-kuscheltier-mit-blauer-nasenblase",
      "hash": "fa5e34cac73e873ac524ed72fe1ecd9edbc62e2a9bc85a8638ea9c633d602e61",
      "images": 4,
      "sourceId": "10645333967185",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "seeotter-plusch-rucksack-kinder",
      "hash": "d2df3dae536e7124ef6f03d3a7e071a3717db1dc9f289600a27bcfb5a262a2f9",
      "images": 2,
      "sourceId": "10645156954449",
      "variants": 1
    },
    {
      "collections": [
        "capybara-kuscheltier"
      ],
      "errors": [],
      "handle": "susses-capybara-kuscheltier-mit-rucksack-und-kappe",
      "hash": "30d0ff4579949a05290abb6cff87ea1fc1390a88d836fc5a773fc7f9003fe822",
      "images": 4,
      "sourceId": "10645333705041",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "weisses-seeotter-kuscheltier",
      "hash": "7cb13de910639561c4b1d41ec602697e45ced8f8dd40a00f9831d163eeba8546",
      "images": 2,
      "sourceId": "10933500477777",
      "variants": 1
    },
    {
      "collections": [
        "otter-kuscheltier"
      ],
      "errors": [],
      "handle": "weisses-und-hellbraunes-seeotter-kuscheltier",
      "hash": "168dd614ca16a5f17391834923e4bd5db3d93677daef83b2c95c1055b5e1499b",
      "images": 2,
      "sourceId": "10933500051793",
      "variants": 1
    }
  ]
}
