<section class="terms-of-service">
  <h1>Conditions Générales de Vente et d'Utilisation - {{storeName}}</h1>

  <h2>Présentation</h2>

  <p>
    Ce site web est exploité par <strong>{{storeName}}</strong>. Sur l’ensemble du site,
    les termes « nous », « notre » et « nos » font référence à <strong>{{storeName}}</strong>.
    {{storeName}} propose ce site web, à vous, l’utilisateur, notamment toutes les informations,
    tous les outils et tous les services disponibles sur ce site, à condition que vous acceptiez
    l’ensemble des termes, conditions, politiques et notifications énoncés ici.
  </p>

  <p>
    En visitant notre site et/ou en achetant quelque chose chez nous, vous vous engagez dans
    notre « Service » et acceptez d’être lié(e) par les Conditions générales d’utilisation
    suivantes, y compris les Conditions générales d’utilisation et politiques supplémentaires
    auxquelles il est fait référence dans le présent document et/ou qui sont disponibles par hyperlien.
  </p>

  <p>
    Les présentes Conditions de service s’appliquent à tous les utilisateurs du site, y compris,
    mais sans s’y limiter, les utilisateurs qui sont des visiteurs, des clients, des prestataires,
    des marchands et/ou des contributeurs de contenu.
  </p>

  <p>
    Veuillez lire attentivement les présentes Conditions de service avant d’accéder à notre site
    web ou de l’utiliser. En accédant à une quelconque partie du site ou en l’utilisant, vous
    acceptez d’être lié(e) par les présentes Conditions de service.
  </p>

  <p>
    Si vous n’acceptez pas l’ensemble des Conditions générales d’utilisation du présent accord,
    vous ne pouvez pas accéder au site web ou utiliser les Services. Si les présentes Conditions
    de service sont considérées comme une offre, l’acceptation est expressément limitée aux
    présentes Conditions de service.
  </p>

  <p>
    Chaque outil ou fonctionnalité ajouté(e) à l’actuelle boutique est également assujetti(e)
    aux Conditions de service. Vous pouvez à tout moment consulter la version la plus récente
    des Conditions de service sur cette page.
  </p>

  <p>
    Nous nous réservons le droit de mettre à jour, de modifier ou de remplacer toute partie des
    présentes Conditions de service en publiant des mises à jour et/ou des modifications sur
    notre site web. Il est de votre responsabilité de vérifier périodiquement si cette page
    a été modifiée. Le fait de continuer à utiliser le site web ou d’y accéder après la publication
    de toute modification constitue une acceptation de ces modifications.
  </p>

  <p>
    Notre boutique est hébergée sur Shopify Inc. Shopify nous fournit la plateforme de commerce
    électronique en ligne qui nous permet de vous vendre nos produits et services.
  </p>

  <h2>Section 1 - Conditions de service de la boutique en ligne</h2>

  <p>
    En acceptant les présentes Conditions de service, vous déclarez que vous avez au moins l’âge
    de la majorité dans votre État ou province de résidence, ou que vous avez l’âge de la majorité
    dans votre État ou province de résidence, et que vous nous avez donné votre consentement pour
    permettre à toute personne mineure à votre charge d’utiliser le présent site.
  </p>

  <p>
    Vous ne pouvez pas utiliser nos produits à des fins illégales ou non autorisées, et vous ne
    pouvez pas, dans le cadre de l’utilisation du Service, enfreindre les lois de votre juridiction,
    y compris, mais sans s’y limiter, les lois sur les droits d’auteur.
  </p>

  <p>
    Vous ne pouvez, en aucun cas, transmettre de vers, de virus ou de code de nature destructive.
    Le non-respect ou toute violation de l’une des conditions entraînera la résiliation immédiate
    de vos Services.
  </p>

  <h2>Section 2 - Conditions générales</h2>

  <p>
    Nous nous réservons le droit de refuser le Service à quiconque pour quelque raison que ce soit
    et à tout moment.
  </p>

  <p>
    Vous comprenez que votre contenu, à l’exclusion des informations de carte de crédit, peut être
    transféré de manière non chiffrée et impliquer des transmissions sur différents réseaux ainsi
    que des modifications pour se conformer et s’adapter aux exigences techniques des réseaux ou
    dispositifs de connexion. Les informations relatives aux cartes de crédit sont toujours chiffrées
    lors du transfert sur les réseaux.
  </p>

  <p>
    Vous acceptez de ne pas reproduire, dupliquer, copier, vendre, revendre ou exploiter toute
    partie du Service, toute utilisation du Service ou l’accès au Service ou à tout contact sur
    le site web par le biais duquel le Service est fourni, sans autorisation écrite expresse de
    notre part.
  </p>

  <p>
    Les titres utilisés dans le présent accord ne le sont que pour des raisons de commodité et
    n’ont pas pour effet de limiter ou d’affecter d’une autre manière les présentes Conditions.
  </p>

  <h2>Section 3 - Exactitude, exhaustivité et ponctualité des informations</h2>

  <p>
    Nous ne sommes pas responsables si les informations mises à disposition sur le présent site
    ne sont pas exactes, complètes ou à jour. Le contenu de ce site est fourni à titre d’information
    générale uniquement et ne doit pas être utilisé comme unique base de décision sans consulter
    des sources d’information primaires, plus précises, plus complètes ou plus opportunes.
  </p>

  <p>
    Toute utilisation du contenu dans le présent site est effectuée à vos propres risques.
    Ce site peut contenir certaines informations historiques. Les informations historiques ne sont
    pas nécessairement actuelles et sont fournies à titre de référence uniquement.
  </p>

  <p>
    Nous nous réservons le droit de modifier le contenu du présent site à tout moment, mais nous
    n’avons aucune obligation de mettre à jour les informations y figurant. Vous reconnaissez qu’il
    est de votre responsabilité de surveiller les modifications apportées à notre site.
  </p>

  <h2>Section 4 - Modifications apportées au Service et aux prix</h2>

  <p>
    Les prix de nos produits peuvent être modifiés sans préavis.
  </p>

  <p>
    Nous nous réservons le droit de modifier ou d’interrompre à tout moment le Service, ou toute
    partie ou contenu de celui-ci, sans préavis.
  </p>

  <p>
    Nous ne serons pas responsables envers vous ou envers un tiers de toute modification, changement
    de prix, suspension ou interruption du Service.
  </p>

  <h2>Section 5 - Produits ou services</h2>

  <p>
    Certains produits ou services peuvent être disponibles exclusivement en ligne, sur le site web.
    Ces produits ou services peuvent être disponibles en quantités limitées et ne peuvent être
    retournés ou échangés que conformément à notre
    <a href="{{refundUrl}}">politique de retour et remboursement</a>.
  </p>

  <p>
    Nous nous sommes efforcés d’afficher aussi fidèlement que possible les couleurs, matières,
    finitions et images de nos produits qui apparaissent en boutique. Nous ne pouvons pas garantir
    que l’affichage des couleurs ou des textures sur votre écran d’ordinateur, tablette ou smartphone
    sera parfaitement exact.
  </p>

  <p>
    Les produits proposés par {{storeName}}, notamment {{productDescription}},
    doivent être utilisés conformément à leur destination normale. Les conseils d’entretien éventuellement
    fournis sur le site sont donnés à titre indicatif.
  </p>

  <p>
    Nous nous réservons le droit, sans y être obligés, de limiter les ventes de nos produits ou
    Services à toute personne, région géographique ou juridiction. Nous pouvons exercer ce droit
    au cas par cas.
  </p>

  <p>
    Nous nous réservons le droit de limiter les quantités de tout produit ou Service que nous
    offrons. Toutes les descriptions de produits ou de prix de produits sont susceptibles d’être
    modifiées à tout moment sans préavis, à notre seule discrétion.
  </p>

  <p>
    Nous nous réservons le droit d’interrompre la vente d’un produit à tout moment. Toute offre
    de produit ou de Service proposée sur le présent site est considérée comme nulle là où elle
    est interdite.
  </p>

  <p>
    Nous ne garantissons pas que la qualité des produits, services, informations ou autres éléments
    achetés ou obtenus par vous répondra à vos attentes ni que les erreurs éventuelles du Service
    seront corrigées.
  </p>

  <h2>Section 6 - Exactitude des informations de facturation et de compte</h2>

  <p>
    Nous nous réservons le droit de refuser toute commande passée auprès de nous. Nous pouvons,
    à notre seule discrétion, limiter ou annuler les quantités achetées par personne, par ménage
    ou par commande.
  </p>

  <p>
    Ces restrictions peuvent inclure des commandes passées par ou sous le même compte client, la
    même carte de crédit, et/ou des commandes utilisant la même adresse de facturation et/ou
    d’expédition.
  </p>

  <p>
    En cas de modification ou d’annulation d’une commande, nous pouvons tenter de vous en informer
    en contactant l’adresse électronique et/ou l’adresse de facturation/le numéro de téléphone
    fournis au moment de la commande.
  </p>

  <p>
    Nous nous réservons le droit de limiter ou d’interdire les commandes qui, selon notre seul
    jugement, semblent être passées par des négociants, des revendeurs ou des distributeurs.
  </p>

  <p>
    Vous acceptez de fournir des informations d’achat et de compte actuelles, complètes et exactes
    pour tous les achats effectués dans notre boutique. Vous acceptez de mettre à jour rapidement
    votre compte et d’autres informations, notamment votre adresse e-mail, votre adresse de livraison,
    votre numéro de téléphone et vos informations de paiement, afin que nous puissions effectuer
    vos transactions et vous contacter si nécessaire.
  </p>

  <p>
    Le client est responsable de l’exactitude des informations de livraison communiquées lors de
    la commande. En cas d’erreur dans l’adresse de livraison, {{storeName}} ne saurait être tenue
    responsable des retards, pertes ou impossibilités de livraison qui en résulteraient.
  </p>

  <p>
    Pour plus de détails, veuillez consulter notre
    <a href="{{refundUrl}}">politique de retour et remboursement</a>.
  </p>

  <h2>Section 7 - Outils optionnels</h2>

  <p>
    Nous pouvons vous donner accès à des outils de tiers que nous ne contrôlons pas et sur lesquels
    nous n’avons aucun droit de regard.
  </p>

  <p>
    Vous reconnaissez et acceptez que nous fournissons l’accès à ces outils « en l’état » et
    « tels que disponibles » sans aucune garantie, représentation ou condition de quelque nature
    que ce soit et sans aucune approbation.
  </p>

  <p>
    Nous ne pouvons être tenus responsables de votre utilisation d’outils optionnels de tiers.
    Toute utilisation par vous des outils optionnels proposés par le site est entièrement à vos
    risques et vous devez vous assurer que vous connaissez et approuvez les conditions dans
    lesquelles les outils sont fournis par les fournisseurs tiers concernés.
  </p>

  <p>
    Nous pouvons également, à l’avenir, proposer de nouveaux Services et/ou de nouvelles fonctionnalités
    par le biais du site web. Ces nouvelles fonctionnalités et/ou nouveaux Services seront également
    soumis aux présentes Conditions de Service.
  </p>

  <h2>Section 8 - Liens de tiers</h2>

  <p>
    Certains contenus, produits et Services disponibles via notre Service peuvent inclure des éléments
    provenant de tiers.
  </p>

  <p>
    Les liens de tiers sur le présent site peuvent vous diriger vers des sites web de tiers qui ne
    sont pas affiliés avec nous. Nous ne sommes pas responsables de l’examen ou de l’évaluation du
    contenu ou de l’exactitude, et nous ne garantissons pas et n’aurons aucune responsabilité pour
    tout document ou site web de tiers, ou pour tout autre document, produit ou Service de tiers.
  </p>

  <p>
    Nous ne sommes pas responsables des préjudices ou des dommages liés à l’achat ou à l’utilisation
    de biens, de Services, de ressources, de contenu ou de toute autre transaction effectuée en
    relation avec des sites web de tiers.
  </p>

  <p>
    Veuillez examiner attentivement les politiques et pratiques du tiers et vous assurer de les
    comprendre avant de vous engager dans une transaction. Les plaintes, réclamations, préoccupations
    ou questions concernant des produits de tiers doivent être adressées au tiers concerné.
  </p>

  <h2>Section 9 - Commentaires, retours d’expérience et autres soumissions des utilisateurs</h2>

  <p>
    Si, à notre demande, vous envoyez certaines soumissions spécifiques, par exemple des participations
    à des concours, ou, sans que nous vous le demandions, vous envoyez des idées créatives, des
    suggestions, des propositions, des plans ou d’autres documents, que ce soit en ligne, par e-mail,
    par courrier postal ou autrement, vous acceptez que nous puissions, à tout moment et sans restriction,
    modifier, copier, publier, distribuer, traduire et utiliser de quelque manière que ce soit, sur
    quelque support que ce soit, les commentaires que vous nous transmettez.
  </p>

  <p>
    Nous n’avons et n’aurons aucune obligation de maintenir la confidentialité des commentaires,
    de verser une compensation pour les commentaires ou de répondre aux commentaires.
  </p>

  <p>
    Nous pouvons, mais n’avons aucune obligation de surveiller, modifier ou supprimer le contenu
    que nous jugeons, à notre seule discrétion, illégal, offensant, menaçant, diffamatoire,
    pornographique, obscène ou autrement répréhensible, ou qui viole la propriété intellectuelle
    d’une partie ou les présentes Conditions de service.
  </p>

  <p>
    Vous reconnaissez que vos commentaires ne violent aucun droit d’un tiers, notamment les droits
    d’auteur, les marques, la confidentialité, la personnalité ou tout autre droit personnel ou de
    propriété.
  </p>

  <p>
    Vous convenez également que vos commentaires ne contiennent pas de contenu diffamatoire ou
    autrement illégal, abusif ou obscène, ni de virus informatique ou autre logiciel malveillant
    susceptible d’affecter de quelque manière que ce soit le fonctionnement du Service ou de tout
    site web connexe.
  </p>

  <p>
    Vous n’êtes pas autorisé(e) à utiliser une fausse adresse e-mail, à vous faire passer pour
    quelqu’un d’autre ou à nous induire en erreur ou à induire des tiers en erreur quant à l’origine
    des commentaires. Vous êtes seul(e) responsable des commentaires que vous rédigez et de leur
    exactitude. Nous n’assumons aucune responsabilité pour les commentaires publiés par vous ou
    par un tiers.
  </p>

  <h2>Section 10 - Informations personnelles</h2>

  <p>
    L’envoi d’informations personnelles par l’intermédiaire de la boutique est régi par notre
    <a href="{{privacyUrl}}">politique de confidentialité</a>.
  </p>

  <h2>Section 11 - Erreurs, inexactitudes et omissions</h2>

  <p>
    Occasionnellement, des informations sur notre site ou dans le Service peuvent contenir des
    erreurs typographiques, des inexactitudes ou des omissions qui peuvent concerner les descriptions
    de produits, les prix, les promotions, les offres, les frais d’expédition des produits, les
    temps de transit et la disponibilité.
  </p>

  <p>
    Nous nous réservons le droit de corriger toute erreur, inexactitude ou omission, et de modifier
    ou de mettre à jour les informations ou d’annuler les commandes si toute information dans le
    Service ou sur tout site web connexe est inexacte, à tout moment et sans préavis, notamment
    après avoir soumis votre commande.
  </p>

  <p>
    Nous ne sommes pas tenus de mettre à jour, de modifier ou de clarifier les informations contenues
    dans le Service ou sur tout site web connexe, y compris, mais sans s’y limiter, les informations
    sur les prix, sauf si la loi l’exige.
  </p>

  <p>
    Aucune date de mise à jour ou d’actualisation spécifiée dans le Service ou sur un site web connexe
    ne doit être considérée comme indiquant que toutes les informations contenues dans le Service ou
    sur un site web connexe ont été modifiées ou mises à jour.
  </p>

  <h2>Section 12 - Utilisations interdites</h2>

  <p>
    Outre les autres interdictions énoncées dans les Conditions de service, il vous est interdit
    d’utiliser le site ou son contenu :
  </p>

  <ul>
    <li>à des fins illégales ;</li>
    <li>pour solliciter d’autres personnes à accomplir ou à participer à des actes illégaux ;</li>
    <li>pour enfreindre toute réglementation, règle, loi ou ordonnance locale, internationale, fédérale, provinciale ou étatique ;</li>
    <li>pour enfreindre ou violer nos droits de propriété intellectuelle ou les droits de propriété intellectuelle d’autrui ;</li>
    <li>pour harceler, abuser, insulter, blesser, diffamer, calomnier, dénigrer, intimider ou exercer une discrimination ;</li>
    <li>pour soumettre des informations fausses ou trompeuses ;</li>
    <li>pour importer ou transmettre des virus ou tout autre type de code malveillant ;</li>
    <li>pour collecter ou suivre les informations personnelles d’autrui ;</li>
    <li>à des fins de spam, de phishing, de pharm, de prétexte, de spider, d’exploration ou de scrape ;</li>
    <li>à des fins obscènes ou immorales ;</li>
    <li>à des fins d’interférence ou de contournement des dispositifs de sécurité du Service.</li>
  </ul>

  <p>
    Nous nous réservons le droit de mettre fin à votre utilisation du Service ou de tout site web
    connexe en cas de violation de l’une des utilisations interdites.
  </p>

  <h2>Section 13 - Exclusion de garantie ; limitation de responsabilité</h2>

  <p>
    Nous ne garantissons pas que l’utilisation de notre Service sera ininterrompue, opportune,
    sûre ou exempte d’erreurs.
  </p>

  <p>
    Nous ne garantissons pas que les résultats qui peuvent être obtenus par l’utilisation du Service
    seront exacts ou fiables.
  </p>

  <p>
    Vous acceptez que nous puissions retirer le Service pour des durées indéterminées ou l’annuler
    à tout moment, sans vous en avertir.
  </p>

  <p>
    Vous acceptez expressément que l’utilisation ou l’incapacité d’utiliser le Service est réalisée
    à vos propres risques. Le Service et tous les produits et Services qui vous sont fournis par
    l’intermédiaire du Service sont, sauf mention expresse de notre part, fournis « en l’état » et
    « tels que disponibles » pour votre utilisation, sans aucune déclaration, garantie ou condition
    de quelque nature que ce soit, expresse ou implicite.
  </p>

  <p>
    En aucun cas {{storeName}}, ses dirigeants, employés, affiliés, agents, sous-traitants,
    fournisseurs, prestataires de Services ou concédants de licence ne seront responsables de toute
    blessure, perte, réclamation ou de tout dommage direct, indirect, accessoire, punitif, spécial
    ou consécutif de quelque nature que ce soit, y compris, sans limitation, la perte de profits,
    la perte de revenus, la perte d’économies, la perte de données, les coûts de remplacement,
    ou tout autre dommage similaire.
  </p>

  <p>
    Cette limitation s’applique qu’elle soit basée sur un contrat, un délit civil, notamment la
    négligence, une responsabilité stricte ou autre, résultant de votre utilisation du Service ou
    de tout produit obtenu par l’intermédiaire du Service, ou pour toute autre réclamation liée de
    quelque manière que ce soit à votre utilisation du Service ou de tout produit.
  </p>

  <p>
    Étant donné que certains États ou certaines juridictions n’autorisent pas l’exclusion ou la
    limitation de responsabilité pour les dommages consécutifs ou accessoires, dans ces États ou
    juridictions, notre responsabilité sera limitée dans toute la mesure permise par la loi.
  </p>

  <h2>Section 14 - Indemnisation</h2>

  <p>
    Vous acceptez d’indemniser, de défendre et de dégager de toute responsabilité {{storeName}},
    ses affiliés, partenaires, dirigeants, agents, sous-traitants, concédants, prestataires de Services,
    fournisseurs, stagiaires et employés, en cas de réclamation ou de demande, notamment les honoraires
    raisonnables d’avocat, présentée par un tiers en raison de votre violation des présentes Conditions
    de Service ou des documents qu’elles incorporent par référence, ou de votre violation de toute loi
    ou des droits d’un tiers.
  </p>

  <h2>Section 15 - Divisibilité</h2>

  <p>
    Si une disposition des présentes Conditions de Service est jugée illégale, nulle ou inapplicable,
    cette disposition sera néanmoins applicable dans toute la mesure permise par la loi applicable,
    et la partie inapplicable sera considérée comme supprimée des présentes Conditions de Service.
    Cette décision n’affectera pas la validité et l’applicabilité des autres dispositions restantes.
  </p>

  <h2>Section 16 - Résiliation</h2>

  <p>
    Les obligations et responsabilités des parties contractées avant la date de résiliation survivent
    à la résiliation du présent accord à toutes fins utiles.
  </p>

  <p>
    Les présentes Conditions de Service sont valables jusqu’à ce qu’elles soient résiliées par vous
    ou par nous. Vous pouvez résilier les présentes Conditions de Service à tout moment en nous
    informant que vous ne souhaitez plus utiliser nos Services, ou lorsque vous cessez d’utiliser
    notre site.
  </p>

  <p>
    Si nous estimons que vous ne respectez pas, ou si nous soupçonnons que vous n’avez pas respecté,
    l’un des termes ou l’une des dispositions des présentes Conditions de Service, nous pouvons
    également résilier le présent accord à tout moment sans préavis et vous resterez redevable de
    tous les montants dus jusqu’à la date de résiliation incluse. Nous pouvons par conséquent vous
    refuser l’accès à nos Services ou à une partie de ceux-ci.
  </p>

  <h2>Section 17 - Intégralité de l’accord</h2>

  <p>
    Le fait que nous n’exercions pas ou n’appliquions pas un droit ou une disposition des présentes
    Conditions de service ne constitue pas une renonciation à ce droit ou à cette disposition.
  </p>

  <p>
    Les présentes Conditions de Service et toute politique ou règle d’exploitation que nous publions
    sur le présent site ou concernant le Service constituent l’intégralité de l’accord et de la
    convention entre vous et nous.
  </p>

  <p>
    Elles régissent votre utilisation du Service, remplaçant l’ensemble des accords, communications
    et propositions antérieurs ou contemporains, oraux ou écrits, entre vous et nous, y compris,
    mais sans s’y limiter, toutes les versions antérieures des Conditions de Service.
  </p>

  <p>
    Toute ambiguïté dans l’interprétation des présentes Conditions de Service ne sera pas interprétée
    à l’encontre de la partie rédactrice.
  </p>

  <h2>Section 18 - Droit applicable</h2>

  <p>
    Les présentes Conditions de Service et tout accord séparé par lesquels nous vous fournissons
    des Services sont régis et interprétés conformément aux lois de France.
  </p>

  <h2>Section 19 - Modifications des Conditions de Service</h2>

  <p>
    Vous pouvez consulter la version la plus récente des Conditions de Service à tout moment sur
    cette page.
  </p>

  <p>
    Nous nous réservons le droit, à notre seule discrétion, d’actualiser, de modifier ou de remplacer
    toute partie des présentes Conditions de Service en publiant des mises à jour et des modifications
    sur notre site web.
  </p>

  <p>
    Il est de votre responsabilité de vérifier périodiquement si notre site web a été modifié.
    La poursuite de l’utilisation ou de l’accès à notre site web ou au Service après la publication
    de toute modification des présentes Conditions de Service constitue l’acceptation de ces modifications.
  </p>

  <h2>Section 20 - Coordonnées</h2>

  <p>
    Les questions relatives aux Conditions de Service doivent nous être adressées à
    <a href="mailto:{{email}}">{{email}}</a>.
  </p>

  <p>
    Nos coordonnées sont affichées ci-dessous :
  </p>

  <p>
    <strong>{{storeName}}</strong><br>
    <strong>Mail :</strong>
    <a href="mailto:{{email}}">{{email}}</a><br>
    <strong>Téléphone :</strong>
    <a href="tel:{{phoneHref}}">{{phone}}</a><br>
    <strong>Adresse :</strong> {{address}}<br>
    <strong>Responsable de la publication :</strong> {{publisherName}}
  </p>
</section>
